body{
    margin: 0;
}
/* id selectors */
#Sports{
    background-color: #3DB2FF;
}
#Basketball{
    background-color: #FFEDDA;
}
#Football{
background-color: #FFB830;
}
#Boxing{
background-color: #FF2442;
}
#Footvolley{
    background-color: #3DB2FF;
}
#first-header{
    padding-top: 20px;
    font-size: 48px;
}
#navbar{
    position: fixed;
    width: 9%;
    top: 0;
    left: 0;
    
  }
  @media  screen and (max-width: 600px) {
      #navbar {
        width:100%;
       
      }
  }
  #navbar_ul{
      background-color:black;
      opacity:0.6;
    }
    #navbar:hover{
      opacity:0.7;
      
    }
    #last_li{
        padding-bottom: 300px;
    }
    #sportslogo{
        padding-bottom: 50vh;
        width: 250%;
        opacity: 0.5;
        position: relative;
        right: 28px;
        
    }
    
    /* class selectors */
.main-section{
    padding: 40px;
    line-height: 2;
    padding-left: 140px;
    
}
.sports_img{
    width: 33%;
    height: 33%;
    display: inline;
    position: absolute;
    right: 300px;
}
.sports_imgB{
    width: 33%;
    height: 33%;
    display: inline;
    position: absolute;
    right: 300px;
    top: 620px; 82
}
.sports_imgFT{
    width: 33%;
    height: 33%;
    display: inline;
    position: absolute;
    right: 300px;
    top: 982px; 
}
.sports_imgBX{
    width: 33%;
    height: 33%;
    display: inline;
    position: absolute;
    right: 300px;
    top: 1398px; 
}
.sports_imgFV{
    width: 33%;
    height: 33%;
    display: inline;
    position: absolute;
    right: 300px;
    top: 1908px; 
}
.nogoodheader{
    opacity: 0;
    font-size: 0;
}
/* tags selectors */
td{
    border: 1px solid black;
}

code{
    position: relative;
    top: 35px;
    font-size: 8px;
    
    
}
header{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}






  
  

ul {
    margin: 0;
    padding: 20px 50px;
  }
  
  li {
    
    padding:10px;
    line-height:50px;
    height:50px;
    font-size: 16px;
    color: cornsilk;
    
  }
  hr{
    width: 4%;
    border: dotted #0a0a0a 8px;
    border-bottom: none;
    margin: 100px auto;
    opacity: 0.2;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 150px;
  }
  